   .uploadBtn {
       border: 1px solid #cccccc;
       width: 100%;
       height: 250px;
       display: flex;
       text-align: center;
       justify-content: center;
       font-weight: 20px;
       cursor: pointer;
       background: #f8f9fa;
       border-radius: 10px;

   }

   .btnContent,
   .btnContentBanner {
       padding-top: 100px;
       color: gray;
   }

   #logoPreview,
   #bannerPreview {
       width: 99%;
       height: 245px;

   }

   #logo {
       height: 200px;
   }

   #banner {
       height: 200px;
       width: 80%;
   }

   